.whats-new {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.whats-new__content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
}

.whats-new__feature-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.whats-new__feature-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--white-60);
}

.whats-new__feature-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--white-80);
}

.whats-new__action-button {
  margin-top: 8px;
  align-self: flex-start;
}
