<div class="whats-new">
  <div class="whats-new__content">
    @for (item of allItems(); track isPost(item) ? item.slug : item.title; let isFirst = $first) {
      <ng-accordion
        [header]="getItemHeader(item)"
        [subtitle]="formatDate(item.date)"
        [initialState]="isFirst ? 'opened' : 'closed'"
      >
        @if (getItemDescription(item)) {
          <div class="whats-new__feature-content">
            <p class="whats-new__feature-description">
              {{ getItemDescription(item) }}
            </p>
            @if (hasAction(item)) {
              <ng-button
                [label]="getActionLabel(item)"
                [stylingMode]="'contained'"
                [size]="'default'"
                (clicked)="handleAction(item)"
                class="whats-new__action-button"
              />
            }
          </div>
        }
      </ng-accordion>
    }
  </div>
</div>
