.ng-skeleton {
  display: flex;
  width: 230px;
  height: 50px;
  overflow: hidden;
  background: var(--light-gray-2);
  border-radius: 4px;

  &__center {
    flex-shrink: 0;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgb(0 0 0 / 0%) 0%,
      rgb(0 0 0 / 15%) 50.5%,
      rgb(0 0 0 / 0%) 100%
    );
    animation: animation 0.8s infinite ease-in-out;
  }

  @keyframes animation {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(150%);
    }
  }
}
