.interview-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  &__header {
    margin-bottom: 2rem;
    text-align: center;
  }

  &__title {
    margin: 0 0 1rem 0;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
  }

  &__description {
    margin: 0;
    color: var(--white-70);
    font-size: 1rem;
    line-height: 1.6;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__tabs {
    margin-bottom: 1rem;
  }

  &__questions {
    display: flex;
    flex-direction: column;
  }

  &__question-accordion {
    width: 100%;
  }

  &__answer {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .interview-page {
    &__title {
      font-size: 1.75rem;
    }

    &__description {
      font-size: 0.9375rem;
    }
  }
}
