.latest-posts {
  margin-top: 3rem;
  color: var(--white);

  h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
  }

  .posts-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .post-description {
    font-size: 0.875rem;
    color: oklch(70.9% 0.01 56.259);
    margin-top: 0.5rem;
  }
}
