.latest-posts {
  margin-top: 3rem;
  color: var(--white);

  h3 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--white);
  }

  .posts-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .post-item {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .post-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .post-title {
    font-size: 1rem;
    color: var(--white);
    font-weight: 400;
  }

  .post-description {
    font-size: 0.875rem;
    color: oklch(70.9% 0.01 56.259);
  }
}
