:root {
  --brand-blue: #3d44e4;
  --brand-blue-hover: #2e35d2;
  --brand-blue-active: #242bb5;
  --white: #ffffff;
  --success-green: #39bf5e;
  --success-green-toast: #55ce61;
  --success-green-dark: #198754;
  --dark-navy: #060c1f;
  --black: #000000;
  --black-overlay: #0000001a;
  --error-red: #d02b20;
  --error-red-hover: #b8291d;
  --error-red-active: #a8251a;
  --error-red-light: #f9e8e7;
  --error-red-lighter: #f2d4d2;
  --highlight-border: #4d5e80;
  --gray-dark: #323232;
  --white-70: #ffffffb3;
  --delete-red: #be1111;
  --delete-red-40: #be111166;
  --delete-red-light: #be11111a;
  --slate-blue: #2c375b;
  --gray-light: #b4b6bb;
  --midnight-blue: #1a2138;
  --gray-medium: #6c757d;
  --gray-lightest: #eef0f6;
  --gray-lighter: #f7f7fa;
  --border-light: #dfe1e6;
  --gray-overlay: #ebecef66;
  --gray-border: #dddee4;
  --almost-black: #030405;
  --blue-gray: #535b77;
  --blue-gray-light: #7c86a8;
  --sky-blue: #2d8dd1;
  --bright-blue: #369ee8;
  --silver-gray: #cccccc;
  --cloud-gray: #dbdfeb;
  --black-60: #00000099;
  --charcoal-blue: #15171f;
  --dark-teal: #15292b;
  --light-gray: #ddd;
  --blue-gray-lighter: #a7b1cf;
  --success-green-light: #ecf9ef;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --text-muted-white: rgba(255, 255, 255, 0.7);
  --navy-blue: rgba(24, 59, 86, 1);
  --error-red-10: rgba(190, 17, 17, 0.1);
  --warning-yellow-10: rgba(226, 163, 0, 0.1);
  --success-green-10: rgba(57, 191, 94, 0.1);
  --light-border: rgba(221, 222, 228, 1);
  --success-green-40: rgba(57, 191, 94, 0.4);
  --warm-white: rgba(244, 244, 243, 1);
  --dark-navy-70: rgba(6, 12, 31, 0.7);
  --brand-blue-10: rgba(61, 68, 228, 0.1);
  --slate-blue-50: rgba(35, 44, 73, 0.5);
  --black-50: rgba(0, 0, 0, 0.5);
  --brand-blue-40: rgba(61, 68, 228, 0.4);
  --info-blue: #00bbe4;
  --info-blue-toast: #0c75af;
  --ice-white: #f2fdff;
  --gray-lightest-cool: #f9fafc;
  --gray-border-light: #babdc9;
  --divider-gray: #eaecf0;
  --gray-100: #f3f4f6;
  --text-disabled: #98a2b3;
  --neutral-300: #d6dae1;
  --neutral-400: #c1c7d1;
  --neutral-700: #616873;
  --neutral-650: #494e56;
  --neutral-800: #313439;
  --info-500: #0c75af;

  --tab-text-default: #82858e;
  --tab-text-disabled: #c5cbd4;
  --tab-icon-default: #5b616b;
  --tab-hover-line: #c5cbd4;
  --tab-active-line: #a4adbc;
  --tab-selected-bg: #ecf9ef;
  --tab-border: rgba(219, 223, 235, 0.6);
  --tab-selected-hover: #1e2024;
  --toast-background: #273151;
  --warning-yellow-toast: #dfb03e;
  --gray-pale: #ebecef;
}
