<div class="ng-button">
  <button
    [ngClass]="buttonClasses"
    (click)="click($event)"
    [disabled]="disabled"
    type="button"
    class="ng-button__container"
    [attr.aria-label]="ariaLabel"
  >
    @if (icon) {
      <app-svg
        [width]="iconWidth"
        [height]="iconHeight"
        class="ng-button__icon"
        [icon]="icon"
      ></app-svg>
    }

    {{ label }}

    @if (!label) {
      <ng-content></ng-content>
    }
    @if (rightIcon) {
      <app-svg class="ng-button__icon" [icon]="rightIcon"></app-svg>
    }
  </button>
</div>
