<div class="ng-card" [class.ng-card_full-height]="isFullHeight">
  <div #card [attr.data-token]="token" [ngClass]="cardClasses" (click)="click()">
    @if (header || icon || iconRight || templateHeader || isClickableHeader) {
    <div [ngClass]="headerClasses" (click)="toggleContent()">
      <div class="ng-card__header">
        @if (icon) {
        <ng-svg [icon]="icon" class="ng-card__icon"></ng-svg>
        }

        <span class="ng-card__header-text">{{ header }}</span>
      </div>

      @if (templateHeader) {
      <ng-container *ngTemplateOutlet="templateHeader"></ng-container>
      } @if (iconRight || isClickableHeader) { @if (isClickableHeader) {
      <ng-svg
        [icon]="'i_ng_chevron_right'"
        [class.ng-card__chevron_open]="isExpandedSignal()"
        class="ng-card__chevron"
      ></ng-svg>
      } @else {
      <ng-svg [icon]="iconRight!" class="ng-card__icon"></ng-svg>
      } }
    </div>
    }

    <div
      class="ng-card__content-wrapper"
      [class.ng-card__content-wrapper_expanded]="isExpandedSignal()"
    >
      <div [ngClass]="contentClasses">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
