<div class="main-layout">
  <ng-tabs
    [tabsItems]="tabs"
    [orientation]="'horizontal'"
    [selectedTab]="selectedTab()"
    (changed)="onTabChanged($event)"
  ></ng-tabs>

  <div class="content-area">
    <router-outlet></router-outlet>
  </div>

  @if (isPostPage()) {
  <aside class="main-layout__toc">
    <app-table-of-contents />
  </aside>
  }

  <div class="main-layout__contact-button">
    <ng-button
      [icon]="contactIcon"
      [ariaLabel]="'Contact'"
      [size]="'large'"
      [iconWidth]="'2rem'"
      [iconHeight]="'2rem'"
      (clicked)="openContactForm()"
      *ngTooltip="'Contact me'"
    />
  </div>
</div>
