.ng-link {
  width: fit-content;
  font-family: 'PT Root UI', sans-serif;

  .ng-link__content {
    color: var(--white);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      color: var(--white-80);
      text-decoration: underline;
    }

    &:active {
      color: var(--text-muted-white);
      text-decoration: underline;
    }
  }

  &.ng-link__secondary {
    .ng-link__content {
      color: var(--white);
      text-decoration: underline;

      &:hover {
        color: var(--white-80);
        text-decoration: underline;
      }

      &:active {
        color: var(--text-muted-white);
        text-decoration: underline;
      }
    }
  }

  &.ng-link__disabled {
    .ng-link__content {
      color: var(--text-disabled);
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &.ng-link__underline-on-hover {
    .ng-link__content {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        text-decoration: underline;
      }
    }
  }
}
