<header class="header">
  <div class="header__content">
    <div class="header__navigation">
      <ng-tabs
        [tabsItems]="tabs"
        [orientation]="'horizontal'"
        [selectedTab]="selectedTab"
        [hideBorder]="true"
        (changed)="onTabChanged($event)"
      ></ng-tabs>
    </div>
    <div class="header__actions">
      <ng-button
        class="header__theme-toggle"
        [icon]="themeToggleIcon"
        [ariaLabel]="themeToggleAriaLabel"
        [stylingMode]="'ghost'"
        [size]="'default'"
        [iconWidth]="'1.25rem'"
        [iconHeight]="'1.25rem'"
        (clicked)="themeService.toggleTheme()"
      />
      <div class="header__whats-new-button">
        <ng-button
          [label]="'What\'s new'"
          [ariaLabel]="'What\'s new'"
          [size]="'default'"
          (clicked)="openWhatsNew()"
        />
      </div>
    </div>
  </div>
</header>
