<div class="ng-label">
  <label [for]="for" [ngClass]="labelClasses">
    <div class="ng-label__wrapper">
      <span>
        @for (part of secondaryTextParts; track $index) {
          @if (isLink(part)) {
            <app-link
              [link]="getUrl(part)"
              [text]="getText(part)"
              [disabled]="disabled"
              [download]="getIsDownload(part)"
              (click)="$event.stopPropagation()"
            ></app-link>
          } @else {
            {{ part }}
          }
        }
        @if (required && !disabled) {
          <span class="ng-label__required">*</span>
        }
      </span>

      @if (info && !disabled) {
        <app-svg *ngTooltip="info" [icon]="icon.Info" class="ng-label__icon-info"></app-svg>
      }
    </div>

    <ng-content></ng-content>
  </label>
</div>
