<!-- <label [for]="for" [ngClass]="labelClasses">
  <div class="wk-label__wrapper">
    <span>
      @for (part of secondaryTextParts; track $index) { @if (isLink(part)) {
      <wk-link
        [link]="getUrl(part)"
        [text]="getText(part)"
        [disabled]="disabled"
        [download]="getIsDownload(part)"
        (click)="$event.stopPropagation()"
      ></wk-link>
      } @else {
      {{ part }}
      } } @if (required && !disabled) {
      <span class="wk-label__required">*</span>
      }
    </span>

    @if (info && !disabled) {
    <wk-svg *wkTooltip="info" [icon]="icon.Info" class="wk-label__icon-info"></wk-svg>
    }
  </div>

  <ng-content></ng-content>
</label> -->
