.ng-text-area {
  display: block;
  width: 100%;
  background-color: transparent;

  &__container {
    display: flex;
    flex-direction: column;

    &.ng-text-area__container_left-label {
      flex-direction: row;
      gap: 0.5rem;
    }

    .ng-text-area__wrapper {
      width: 100%;

      .ng-text-area__input {
        all: unset;
        box-sizing: border-box;
        overflow-y: auto;
        resize: none;
        display: block;
        width: 100%;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        line-height: 1.5;
        color: var(--white);
        cursor: text;
        background-color: var(--white-05) !important;
        border: 1px solid var(--white-10);
        border-radius: 8px;
        appearance: none;
        -webkit-appearance: none;

        &:hover:not(:disabled):not(:read-only):not(:focus) {
          border-color: var(--white-20);
        }

        &:focus {
          outline: none;
          border-color: var(--brand-blue);
          background-color: var(--white-08);
        }

        &:focus:hover:not(:disabled):not(:read-only) {
          border-color: var(--brand-blue);
        }

        &.invalid {
          border-color: var(--error-red);
        }

        &:read-only {
          border-color: var(--white-10);
          cursor: default;
        }

        &:disabled {
          color: var(--text-disabled);
          border-color: var(--white-05);
          background-color: rgba(255, 255, 255, 0.02);
          cursor: not-allowed;
          opacity: 1;
        }

        &::placeholder {
          font-size: 1rem;
          color: var(--text-muted-white);
        }
      }

      .ng-text-area__error-message {
        margin-top: 0.25rem;
        font-size: 0.75rem;
        color: var(--error-red);
      }

      .ng-text-area__helper-text {
        margin-top: 0.25rem;
        font-size: 0.75rem;
        color: var(--text-muted-white);
      }
    }
  }
}
