:host {
  display: none;
}

.ng-tooltip {
  position: fixed;
  font-family: inherit;
  color: inherit;

  &_shake-vertical {
    animation: shake-vertical 1.5s ease-in-out infinite;
  }

  &_shake-horizontal {
    animation: shake-horizontal 1.5s ease-in-out infinite;
  }

  &__content {
    padding: 0.5rem 0.75rem;
    font-weight: 500;
    font-size: 12px;
    color: var(--dark-navy);
    text-align: start;
    word-wrap: break-word;
    white-space: normal;
    background: var(--white);
    border: none;
    border-radius: 0.5rem;
    box-shadow:
      0px 0px 2px 0px rgb(0 0 0 / 12%),
      0px 4px 8px 0px rgb(0 0 0 / 14%);
    opacity: 1;
    white-space: pre-line;
  }

  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &_top .ng-tooltip__arrow {
    bottom: -6px;
    left: 50%;
    border-color: var(--white) transparent transparent;
    border-width: 7px 7px 0;
    transform: translateX(-50%);
  }

  &_bottom .ng-tooltip__arrow {
    top: -6px;
    left: 50%;
    border-color: transparent transparent var(--white);
    border-width: 0 7px 7px;
    transform: translateX(-50%);
  }

  &_left .ng-tooltip__arrow {
    top: calc(50% - 12px);
    right: -5px;
    border-color: transparent var(--white) transparent transparent;
    border-width: 6px 6px 6px 0;
    transform: translateY(-50%);
    rotate: 180deg;
  }

  &_right .ng-tooltip__arrow {
    top: calc(50% - 12px);
    left: -5px;
    border-color: transparent transparent transparent var(--white);
    border-width: 6px 0 6px 6px;
    transform: translateY(-50%);
    rotate: 180deg;
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-4px);
  }
}
