<div class="share-post">
  <ng-card [padding]="'small'" [stylingMode]="'default'" [header]="'Share'">
    <div class="share-post__buttons">
      @for (platform of sharePlatforms(); track platform.name) {
      <span *ngTooltip="getTooltipText(platform)" ngTooltipPosition="top">
        <ng-button
          [label]="platform.name"
          stylingMode="outlined"
          size="small"
          (clicked)="shareOnPlatform(platform)"
          [attr.aria-label]="'Share on ' + platform.name"
        />
      </span>
      }
    </div>
  </ng-card>
</div>
