.social-connect {
  margin-top: 2.5rem;

  h2 {
    font-family: 'PT Root UI', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 16px;
  }

  &__text {
    font-size: 1rem;
    color: var(--text-muted-white);
    margin-bottom: 24px;
    line-height: 1.6;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
