<div class="about-page">
  <div class="about-page__card-wrapper">
    <ng-card [padding]="'large'" [stylingMode]="'default'" [direction]="'horizontal'">
      <div class="about-page__card-content">
        <ng-avatar
          [src]="'/assets/images/cv.jpeg'"
          [name]="'about.name' | transloco"
          [size]="'large'"
          class="about-page__avatar"
        />
        <div class="about-page__content">
          <p class="about-page__name">{{ 'about.name' | transloco }}</p>
          <p class="about-page__description">
            {{ 'about.roleLocation' | transloco }}
            <span *ngTooltip="astanaTime()">{{ 'about.timezone' | transloco }}</span>.
            {{ 'about.bio' | transloco }}
          </p>
          <div class="about-page__stack">
            <span class="about-page__stack-label">{{ 'about.stackLabel' | transloco }}</span>
            <div class="about-page__stack-badges">
              @for (tech of stack; track tech.name) {
                <ng-badge
                  [text]="tech.name"
                  [url]="tech.url"
                  [size]="'small'"
                  [stylingMode]="'outlined'"
                  [variant]="'default'"
                />
              }
            </div>
          </div>
        </div>
      </div>
    </ng-card>
  </div>
  <app-latest-posts />
  <app-social-connect />
</div>
