.about-page {
  &__header {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  &__avatar {
    flex-shrink: 0;
  }

  &__name {
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--white);
  }

  &__description {
    margin: 0;
    margin-bottom: 0.5rem;
    color: oklch(70.9% 0.01 56.259);
  }

  &__content {
    flex: 1;
  }
}
