<app-header></app-header>

<div class="main-layout">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>

  @if (isPostPage()) {
    <aside class="main-layout__toc">
      <app-table-of-contents />
    </aside>
  }

  <div class="main-layout__contact-button">
    <ng-button
      [icon]="contactIcon"
      [ariaLabel]="'Contact'"
      [size]="'large'"
      [iconWidth]="'2rem'"
      [iconHeight]="'2rem'"
      (clicked)="openContactForm()"
      *ngTooltip="'Contact me'"
    />
  </div>

  @if (showScrollTop()) {
    <ng-button
      class="scroll-to-top"
      [icon]="'chevron-up'"
      [size]="'large'"
      [iconWidth]="'2rem'"
      [iconHeight]="'2rem'"
      (clicked)="scrollToTop()"
      [ariaLabel]="'Scroll to top'"
      *ngTooltip="'Return to top'"
    ></ng-button>
  }
</div>
