@if (previousPost || nextPost) {
<nav class="post-navigation">
  @if (previousPost) {
  <ng-list-item
    [link]="'/blog/' + previousPost.slug"
    [icon]="'chevron-left'"
    [headerText]="'Previous'"
    [text]="previousPost.title"
    [enableWrapTwoRows]="true"
  />
  } @else {
  <div class="nav-link--empty"></div>
  } @if (nextPost) {
  <ng-list-item
    [link]="'/blog/' + nextPost.slug"
    [rightIcon]="'chevron-right'"
    [headerText]="'Next'"
    [text]="nextPost.title"
    [enableWrapTwoRows]="true"
  />
  } @else {
  <div class="nav-link--empty"></div>
  }
</nav>
}
