.ng-divider {
  display: block;
  width: 100%;

  &.ng-divider__small {
    margin: 0.25rem 0;
  }

  &.ng-divider__medium {
    margin: 0.75rem 0;
  }

  &.ng-divider__large {
    margin: 1rem 0;
  }

  &__container {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    align-items: center;
    width: 100%;

    .ng-divider__mark {
      width: 0.5rem;
      height: 1px;
      background: var(--gray-border);
    }

    .ng-divider__section {
      display: flex;
      flex-wrap: nowrap;
      gap: 0.25rem;
      align-items: center;
      font-family: 'PT Root UI', sans-serif;
      font-size: 0.75rem;
      font-weight: 500;
      white-space: nowrap;
    }

    .ng-divider__line {
      width: 100%;
      height: 1px;
      margin: 0;
      background: var(--gray-border);
    }

    .ng-divider__text {
      color: rgba(255, 255, 255, 0.9);
      white-space: nowrap;
      &.ng-divider__text-bold {
        font-family: 'PT Root UI', sans-serif;
        font-size: 0.875rem;
        font-weight: 700;
      }
    }

    .ng-divider__icon {
      fill: rgba(255, 255, 255, 0.9);
    }
  }
}
