.ng-tabs {
  display: block;
  width: 100%;

  &__container {
    position: relative;
    display: flex;
    gap: 24px;
    border-bottom: 1px solid var(--white-10);

    &_vertical {
      flex-direction: column;
      gap: 0;
      border-bottom: none;
      border-left: 1px solid var(--white-10);
    }
  }

  &__tab {
    position: relative;
    padding: 16px 0;
    font-family: 'PT Root UI', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--white-50);
    cursor: pointer;
    user-select: none;
    outline: none;
    background: none;
    border: none;
    transition: color 0.2s;

    &:hover:not(&_selected):not(&_disabled) {
      color: var(--text-muted-white);
    }

    &_selected {
      color: var(--white);
    }

    &_disabled {
      color: var(--white-30);
      cursor: not-allowed;
    }

    &_hidden {
      display: none;
    }
  }

  &__indicator {
    position: absolute;
    background: var(--white);
    transition: all 0.3s ease;
    pointer-events: none;

    .ng-tabs__container:not(.ng-tabs__container_vertical) & {
      bottom: -1px;
      height: 2px;
    }

    .ng-tabs__container_vertical & {
      left: -1px;
      width: 2px;
    }
  }

  &__content {
    &_hidden {
      display: none;
    }

    &_active {
      display: block;
    }
  }
}
