@forward 'variables/colors';
@forward 'variables/z-index';
@forward 'markdown';

html,
body {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: oklch(14.7% 0.004 49.25);
}

@font-face {
  font-family: 'PT Root UI';
  src: url('/assets/font/PTRootUI/PTRootUI-Light.woff2') format('woff2'),
    url('/assets/font/PTRootUI/PTRootUI-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('/assets/font/PTRootUI/PTRootUI-Regular.woff2') format('woff2'),
    url('/assets/font/PTRootUI/PTRootUI-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('/assets/font/PTRootUI/PTRootUI-Medium.woff2') format('woff2'),
    url('/assets/font/PTRootUI/PTRootUI-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('/assets/font/PTRootUI/PTRootUI-Bold.woff2') format('woff2'),
    url('/assets/font/PTRootUI/PTRootUI-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'PT Root UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 400;
}
