.ng-spinner {
  display: block;
  width: fit-content;
  height: fit-content;

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-loading);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &__spinner {
    animation: spin 1s linear infinite;
  }

  &__icon {
    color: var(--brand-blue);
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}
